/* DetailedAnalysis.css */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.analysis-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../public/assets/images/clouds_background.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden; /* Prevent any overflow outside the container */
}

.chart-container {
  width: 90%;
  max-width: 800px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.heading-container {
  background-color: rgba(255, 255, 255);
  border: 2px solid #333; /* Darker border for better contrast */
  border-radius: 30px;

  border-color: #90b6c8; /* Semi-transparent background */
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 2.8em;
  margin: 0;
  word-wrap: break-word;
  font-weight: bold; /* Allow long words to break and wrap */
}

.center-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #90b6c8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap; /* Prevent text from wrapping */
  text-align: center; /* Keep text centered */
  display: inline-block; /* Prevent the button from expanding */
  width: auto;
  min-width: 220px; /* Ensure a consistent minimum width */
  max-width: 100%; /* Make button fit within its container */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.center-button:hover {
  background-color: #90b6c8;
}

/* Make button responsive */
@media (max-width: 600px) {
  .center-button {
    font-size: 16px;
    padding: 12px 20px;
    min-width: 180px; /* Adjust the minimum width on small screens */
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 2em;
  }
}

@media (max-width: 600px) {
  .heading-container {
    padding: 10px;
  }

  h1 {
    font-size: 1.6em;
  }
}
